html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #779ecb;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


.bold{
  text
}

.thumbnail{
  padding: 6px;
}
.img-thumbnail {
  border: 5px solid black;
}

.headerPic {
  width:50%;
  height:25%;
}
body {
  width: max-width * .90;
  margin: 0 auto;
  background-color: #74aa12;
  padding-left: 75px;
  padding-right: 75px;
  padding: 100 20px 20px 20px;
  border: 20px solid grey;
}

h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
  text-align: center;
  color: black;
  text-shadow: 2px 2px grey;
}

img {
  display: block;
  margin: 0 auto;
}

.highlight {
  background-color: yellow;
}
